@import "reset.css";

$color-black: #333333;
$color-gray: #666666;
$color-yellow: #FFC700;
$color-orange: #FF8934;
$color-white: #ffffff;
$color-beige: #FFFEF9;

html {
    width: 768px;
    margin: 0 auto;
}

body {
    font-family: sans-serif;
    //background-color: $color-beige;

    a {
        text-decoration: none;
        color: $color-black;
    }

}

.head {
    width: 768px;
    margin: 0 auto;
    // position: fixed;
    font-size: 3rem;
    text-align: center;
    background-color: $color-white;
    border: 1px solid $color-black;

    h1 {
        color: $color-yellow;
    }
}

.foot {
    width: 768px;
    margin: 0 auto;
    position: fixed;
    bottom: 0px;
    background-color: $color-white;
}