@import "../style/mixin.scss";
body {
    background-image: url("/images/bg.png");
    background-attachment: fixed;
    background-position: center top;


    main {
        padding: 0 70px;
        width: 768px;
        margin: 0 auto;
        position: relative;
        background-color: #FFFEF9;
    }
}


@include mobile {
    body main {
        width: 100%;
        padding: 0 10%;
    }
}
@include pad {
    body main {
        width: 100%;
        padding: 0 10%;
    }
}