@import "../style/mixin.scss";

main {
    .Login_page {
        background-color: #FF8934;
        text-align: center;
        color: #FFC700;


        h1 {
            font-size: 100px;
            font-weight: bolder;
            padding-top: 100px;
        }

        h2 {
            font-size: 60px;
            margin-top: 100px;
            font-weight: bolder;
        }

        div {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 20px auto;
            width: 300px;
            height: 50px;
            border: 1px solid none;
            border-radius: 30px;
            background-color: #FFC700;

            img {
                width: 30px;
            }

            p {
                font-size: 20px;
                color: black;
            }

            p:hover {
                cursor: pointer;
            }

        }

        padding-bottom: 100px;
    }
}

/* 메인 */



@include mobile {
    main {
        .Login_page {
            h1 {
                font-size: 13vw;
            }

            h2 {
                font-size: 8vw;
            }

            >img {
                width: 45vw;
            }

            div {
                width: 50vw;

                p {
                    font-size: 1.0rem;
                }
            }
        }
    }
}

@include pad {
    main {
        .Login_page {
            h1 {
                font-size: 13vw;
            }

            h2 {
                font-size: 8vw;
            }

            >img {
                width: 45vw;
            }

            div {
                width: 50vw;
            }
        }
    }
}