@import "../style/color.scss";
@import "../style/mixin.scss";


//프로필-pad
.profile {
    color: $color-black;
    padding-top: 100px;

    figure {
        display: flex;
        align-items: center;

        img {
            width: 133px;
            height: 133px;
            border: 1px solid $color-orange ;
            border-radius: 100px;
            background-color: $color-white;
        }

        figcaption {
            display: flex;
            flex-direction: column;
            margin: 0 20px;

            p {
                margin: 5px 0;
            }

            p:nth-of-type(1) {
                font-size: 1.8rem;
            }

            p:nth-of-type(2) {
                font-size: 1.5rem;
            }
        }
    }
}


//버튼-pad
.my_btn {
    display: flex;
    justify-content: space-between;
    margin-top: 57px;

    button {
        background-color: $color-white;
        border: 1px solid $color-yellow;
        width: 132px;
        height: 132px;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        font-size: 1.1rem;
    }
}

img {
    width: 55px;
    height: auto;
}


//프로필-mobile
@include mobile {
    .profile figure img {
        width: 80px;
        height: 80px;
    }

    .profile figure figcaption p:nth-of-type(1) {
        font-size: 1.2rem;
    }

    .profile figure figcaption p:nth-of-type(2) {
        font-size: 0.9rem;
    }

    .my_btn {
        gap: 3%;
        margin-top: 10%;

        button {
            width: 80px;
            height: 80px;
            font-size: 0.8rem;


            img {
                width: 30px;
            }
        }
    }
}