div {
    position: relative;

    .myrecipeUser {}

    .mypageButton {}

    .myrecipeList {
        .add_form {
            position: absolute;
            background-color: gray;
            border: 1px solid black;
            top: 200px;
            left: 400px;
            opacity: 0;

            &.active {
                opacity: 1;
                top: 500px;
            }
        }



        .put_form {
            position: absolute;
            background-color: gray;
            border: 1px solid black;
            top: 200px;
            opacity: 0;

            &.active {
                opacity: 1;
            }


        }

        .delete_pop {
            position: absolute;
            background-color: gray;
            border: 1px solid black;
            top: 400px;
            left: 400px;
        }


    }
}