@import "../style/color.scss";
@import "../style/scrap.scss";
@import "../style/like.scss";   

.swiper {
    height: 100vh;
}

.recipeWid_box {
    color: $color-black;
    border-radius: 30px;
<<<<<<< HEAD
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding-bottom: 100px;
    .recipeWid::-webkit-scrollbar {
        display: none;
    }
=======
    width: 85%;
    height: 100vh;
    margin: 0 auto;
    

>>>>>>> 218c5aaf20a8b7f76c8990c168ebaacd453c0468
    .recipeWid {
        width: 100%;
        margin: 0 auto;
<<<<<<< HEAD
        height: 93vh;
        overflow: auto;
        figure {
            display: flex;
            margin: 30px 0;
            align-items: center;
            gap: 40px;
            
=======
        height: 18vh;


        figure {
            display: flex;
            margin: 30px;
            align-items: center;
            gap: 40px;
>>>>>>> 218c5aaf20a8b7f76c8990c168ebaacd453c0468

            .scrap_position {
                position: relative;

                .menu_img {
                    width: 180px;
                    height: 180px;
                    border-radius: 20px;

                }
            }

            figcaption {

                h2{
                    font-size: 24px;
                }
                p{
                    font-size: 16px;
                    margin:20px 0;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    word-break: break-word;
                    display: -webkit-box;
                    -webkit-line-clamp: 2; 
                    -webkit-box-orient: vertical
                }
            }
        }

    }
}