@import "../style/mixin.scss";


@include mobile {

}

h2{
    font-size: 2rem;
    margin: 50px 0;
}
body{
    background-color: #ffc800;

}
.search-page {
    margin:0;
    padding-top: 100px;
    .back-arrow{
        margin: 30px 0 50px;
    }
    .search-sect {
        
        >form {
            position: relative;
            
            .search-bar {
                width: 89%;
                border: 2px solid #FFC700;
                border-radius: 50px;
                padding: 20px 0 20px 80px;
            }

            .search-btn {
                position: absolute;
                width: 4%;
                top: 16px;
                left: 30px;
                z-index: 1;
                opacity: 50%;
            }
        }
        
        .recently {

            .recent-top {
                margin: 30px auto 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                
                >p {
                    opacity: 60%;
                }
                
                .del-all-btn {
                    border: 1px solid rgb(167, 167, 167);
                    border-radius: 50px;
                    padding: 5px 10px;
                    opacity: 60%;
                }
            }
            
            .list-overflow{
                >ul {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    flex-wrap: wrap;
                    width:100%;
                    margin-bottom: 20px;
                    
                    >li {
                        width: max-content;
                        border: 1px solid rgba(0,0,0,0.2);
                        border-radius: 20px;
                        padding: 4px 10px;
                        padding-right: 0;
                        margin: 0 10px 10px ;
                        text-align: center;
                        font-size: 0.75rem;
                        
                        .recent-word {
                            opacity: 60%;
                        }
                        
                        .remove-btn {
                            background-color: #ffffff;
                            padding: 0 10px 2px 20px;
                            text-align: right;
                            opacity: 80%;
                            border: none;
                            border-radius: 100%;
                        }
                    }
                    >li:hover{
                        background-color: #FFC700;
                        .recent-word{
                            color: white;
                        }
                        .remove-btn{
                            color: white;
                            background-color: #FFC700;
                        }
                    }
                    
                    >div {
                        margin: 40px 0 20px;
                        opacity: 60%;
                    }
                }
            }
        }
        
        
    }
    .result-length{
        margin-bottom: 30px;
        opacity: 60%;
    }
    .recipeSq{
        padding: 0;
    }
    .recipeWid_box{
        .recipeWid{
            figure{
                margin-top: 0;
            }
        }
    }
    .recipeSq::-webkit-scrollbar{
        display: none;
    }
}