main .home_detail_header {
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 768px;
  height: 100px;
}
main .home_detail_header #arrow {
  width: 40px;
  height: 15px;
}
main .home_detail_header .func {
  display: flex;
  gap: 20px;
}
main .home_detail_header .func img {
  width: 50px;
  height: 50px;
}
main .detail_contents {
  padding: 0 70px;
  background-color: #FFFEF9;
}
main .detail_contents .detail_ingredient {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  width: 600px;
  margin: 0 auto;
  height: auto;
  display: flex;
  align-items: center;
}
main .detail_contents .detail_ingredient p {
  text-align: left;
  line-height: 2.5;
}
main .detail_contents .detail_menual {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  width: 600px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .detail_contents .detail_menual p {
  text-align: left;
}
main .detail_contents .detail_menual p img {
  width: 200px;
  height: 100%;
  border-radius: 5px;
}
main .detail_contents .detail_menual p:nth-of-type(2) {
  padding: 10px 10px;
  height: 150px;
}
main .detail_contents h2 {
  margin: 40px 0;
  font-size: 36px;
}
main .detail_contents p {
  text-align: center;
}
main .detail_contents p img {
  width: 620px;
  height: 460px;
}