main .home_detail_header {
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: space-between;
  height: 100px;
}
main .home_detail_header #arrow {
  width: 40px;
  height: 15px;
}
main .home_detail_header .func {
  display: flex;
  gap: 20px;
}
main .home_detail_header .func img {
  width: 50px;
  height: 50px;
}
main .detail_contents {
  padding-bottom: 100px;
  background-color: #FFFEF9;
}
main .detail_contents .detail_ingredient {
  background-color: white;
  border: 1px solid #d8dde6;
  border-radius: 5px;
  width: 100%;
  margin: 0 auto;
  height: auto;
  display: flex;
  align-items: center;
}
main .detail_contents .detail_ingredient p {
  padding: 20px;
  text-align: left;
  line-height: 2.5;
}
main .detail_contents .detail_comment .comment_box {
  margin-bottom: 10px;
  border: 1px solid #d8dde6;
  border-radius: 10px;
  padding: 20px;
}
main .detail_contents .detail_comment .comment_box > div {
  margin: 20px 0;
  display: flex;
}
main .detail_contents .detail_comment .comment_box > div > div {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
}
main .detail_contents .detail_comment .comment_box > div p img {
  width: 50px;
  height: 50px;
}
main .detail_contents .detail_comment form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .detail_contents .detail_comment form input {
  border: 1px solid #d8dde6;
  border-radius: 10px;
  height: 30px;
}
main .detail_contents .detail_comment form input:nth-of-type(1) {
  width: 80%;
}
main .detail_contents .detail_comment form input:nth-of-type(2) {
  width: 15%;
}
main .detail_contents .detail_menual {
  background-color: white;
  border: 1px solid #d8dde6;
  border-radius: 5px;
  width: 100%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .detail_contents .detail_menual p {
  padding: 20px;
  text-align: left;
}
main .detail_contents .detail_menual p img {
  width: 200px;
  height: 100%;
  border-radius: 5px;
}
main .detail_contents .detail_menual p:nth-of-type(2) {
  padding: 10px 10px;
  height: 150px;
}
main .detail_contents h2 {
  margin: 40px 0;
  font-size: 36px;
}
main .detail_contents p {
  text-align: center;
}
main .detail_contents p img {
  width: 100%;
  height: 460px;
}